body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Indie Flower', cursive;
  font-size: 5.625rem; /* 16px = 100% = 1em = 1rem . % and em are inherited */
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family:'Dosis', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Dosis', sans-serif;
}

a {
  color: #11999E;
}

.top-container {
  background-color: lightskyblue;
  padding-top: 100px;
  position: relative;
}

.mid-container {

}

.bot-container {

}

.square {
  height: 200px;
  width: 200px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
}

.mountain {
  display: block;
  margin: 0 auto;
}

.skill-img {
  width: 25%;
}

.web-dev-img {
  float: left;
  margin-right: 30px;
}

.cooking-img {
  float: right;
  margin-left: 30px;
}

.skill-row {
  margin: 100px auto;
  line-height: 2;
  text-align: left;
  width: 50%;
}


.subtitle {
  font-weight: normal;
  margin-top: 20px;
}
